apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: clients.dex.betssongroup.com
spec:
  group: dex.betssongroup.com
  names:
    kind: Client
    listKind: ClientList
    plural: clients
    singular: client
  scope: Namespaced
  validation:
    openAPIV3Schema:
      description: Client is the Schema for the clients API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: ClientSpec defines the desired state of Client
          properties:
            logoURL:
              description: LogoURL
              type: string
            name:
              description: The name of the oidc config
              minLength: 4
              type: string
            public:
              description: Sets the public flag
              type: boolean
            redirectURIs:
              description: Redirect URI's
              items:
                type: string
              type: array
            secret:
              description: The shared oidc secret
              minLength: 2
              type: string
            trustedPeers:
              description: Trusted Peers
              items:
                type: string
              type: array
          type: object
        status:
          description: ClientStatus defines the observed state of Client
          properties:
            message:
              type: string
            state:
              type: string
          type: object
      type: object
  version: v1
  versions:
  - name: v1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
